.App {
  max-width: 700px;
  margin: 30px auto;
}

.App footer {
  font-size: 12px;
  color: white;
}

.App a {
  text-decoration: none;
  color: gold;
}

.App a:hover {
  text-decoration: underline;
}
